<div class="manufacturers-ford">
  <div class="create-type-form">
    <div class="type-input" *ngFor="let item of TypeForm?.name?.items">
      <label for="">Type ({{item.languageName}})</label>
      <input type="text" [(ngModel)]="item.value">
    </div>

    <button (click)="TypeForm?.id ? UpdateType() : CreateType()">{{TypeForm?.id ? 'Update' : 'Create'}}</button>
  </div>
  <div class="table-block">
    <app-table [ArrModel]="Types" [cols]="cols" (Action)="Action($event, 'Ford')"></app-table>
  </div>
</div>
<p-toast></p-toast>
