<div class="filter-search">
  <div class="filter">

    <p-multiSelect [options]="CarManufacturers" [(ngModel)]="selectedCarManufacturers" optionLabel="name"
      placeholder="{{'Manufacturer' | translate}}" (ngModelChange)="getTypes()"></p-multiSelect>
    <p-multiSelect [options]="Types" [(ngModel)]="selectedTypes" optionLabel="name"
      placeholder="{{'Category' | translate}}" (ngModelChange)="getModelsByType()"></p-multiSelect>
    <p-multiSelect [options]="Models" [(ngModel)]="selectedModels" optionLabel="name"
      placeholder="{{'Model' | translate}}">
    </p-multiSelect>
    <p-multiSelect [options]="PartManufacturers" [(ngModel)]="selectedPartManufacturers" optionLabel="name"
      placeholder="{{'Firm' | translate}}"></p-multiSelect>
    <p-calendar [(ngModel)]="FromDate" view="year" dateFormat="yy" inputId="yearpicker"
      placeholder="{{'YearFrom' | translate}}">
    </p-calendar>
    <p-calendar [(ngModel)]="ToDate" view="year" dateFormat="yy" inputId="yearpicker"
      placeholder="{{'YearTo' | translate}}">
    </p-calendar>
    <div class="search">
      <input type="text" placeholder="{{'Search' | translate}}..." [(ngModel)]="FilterText">
      <button (click)="filter()"><i class="pi pi-search"></i> {{'Search'  | translate}}</button>
      <button (click)="clearSearch()"> {{'Clear'  | translate}}</button>
    </div>


  </div>

</div>
<div class="line"></div>
