<div class="order-detail-wrapper">
  <div class="order-info">
    <div class="txt">
      <p>Order Id: {{OrderDetail.orderCode}}</p>
      <p>Date: {{OrderDetail.createdAt}}</p>
    </div>
    <div class="status" [ngStyle]="{'border-color':OrderDetail.statusColor}">
      <p [ngStyle]="{'color':OrderDetail.statusColor}">{{OrderDetail.status}}</p>
    </div>
  </div>
  <div class="table-block">
    <p-table [value]="OrderDetail.items" [columns]="cols">
      <ng-template pTemplate="header" let-column>
        <tr style="border-top: none;">
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            <div class="ui-table-sort-th">
              <span>{{col.header}}</span>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
            <p *ngIf="col.field !== 'status'" class="col-field">
              {{rowData[col.field]}}</p>
            <p *ngIf="col.field === 'status'" [ngStyle]="{'color':rowData.statusColor}">{{rowData[col.field]}}</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="info-action">
    <div class="info" *ngIf="OrderDetail.user">
      <p>Total Price: {{OrderDetail.totalPrice}} <img src="assets/images/lari.svg" alt=""></p>
      <p>Accepted Total Price: {{OrderDetail.selectedTotalPrice}} <img src="assets/images/lari.svg" alt=""></p>
    </div>
    <div class="button" *ngIf="OrderDetail.status ==='in progress'">
      <button style="margin-right: 15px;background:#F15050;" (click)="AskForDeal($event, rejectOrder, this)">Reject</button>
      <button (click)="AskForDeal($event, acceptOrder, this)">Accept</button>
    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
