<div class="product-detail-wrapper">
  <app-filter-search (Filter)="filter($event)"></app-filter-search>
  <div class="product-block">
    <div class="product">
      <div class="image">
        <img [src]="Product.image" alt="">
      </div>
      <div class="detail-info">
        <h3>{{Product.name}}</h3>
        <p>{{'ProductID' | translate}}: {{Product.productCode}}</p>
        <p>{{'Manufacturer' | translate}}: {{Product.applicationCarManufacturer}}</p>
        <p>{{'Model' | translate}}: {{Product.model}}</p>
        <p>{{'Category' | translate}}: {{Product.carType}}</p>
        <p>{{'Years' | translate}}: <span>{{FakeSelectedDates}}</span></p>
        <p>{{'Engine' | translate}}: {{Product.engine}} L</p>
        <p>{{'Firm' | translate}}: {{Product.partManufacturer}}</p>
        <div class="line"></div>
        <div class="price-add">
          <div class="price">
            <h4>{{'Price' |translate}}: {{Product.price}} <img src="assets/images/lari.svg" alt=""></h4>
            <p>{{Product.qtyDescription}}: <span class="circle" [ngStyle]="{'background-color': Product.qtyColor}"></span></p>
          </div>
          <div class="add-to-cart">
            <input type="number" [(ngModel)]="Product.qtyForCart">
            <button (click)="addToCart(Product)">
              <img src="assets/images/shop.svg" alt="" *ngIf="!Product.addedToCart && !Product.cartLoading">
              <i class="pi pi-spin pi-spinner" style="color: #fff;" *ngIf="Product.cartLoading && !Product.addedToCart"></i>
              <i class="pi pi-check" style="color: #fff;" *ngIf="!Product.cartLoading &&Product.addedToCart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <app-product-list [Products]="shortProducts" (addToCart)="addToCart($event)" (getProduct)="getProduct($event)">
  </app-product-list>
</div>
<p-toast></p-toast>
