<div class="models-wrapper">
  <div class="form-block">
    <div class="input-block">
      <label for="">{{'Firm' | translate}}</label>
      <input type="text" [(ngModel)]="Request.name">
    </div>
    <button
      (click)="Request.id ? isValid(Update, this) : isValid(Create, this)">{{Request.id ? ('Update' | translate) : ('Create' | translate)}}</button>
  </div>
  <div class="table-block">
    <app-table [ArrModel]="PartManufacturers" [cols]="cols" (Action)="Action($event)"></app-table>
  </div>
</div>
<p-toast></p-toast>
