<div class="user-main-wrapper">
  <app-user-header></app-user-header>
  <div class="user-pages-content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="copyright">
      <p>Copyright © 2022  | Butterfly Effect</p>
    </div>
    <div class="contact">
      <a href="tel:+995555434317"><img src="assets/images/phone.svg" alt=""> +995 555 43 43 17</a>
      <a href="mailto: info@gmail.com"><img src="assets/images/mail.svg" alt="">   info@gmail.com</a>
    </div>
  </div>
</div>
