<div class="user-main-wrapper">
  <app-user-header></app-user-header>
  <div class="user-pages-content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="copyright">
      <p>Copyright © 2022  | Butterfly Effect</p>
    </div>
    <div class="contact">
      <a href="tel:+995593094477"><img src="assets/images/phone.svg" alt=""> +995 593 09 44 77</a>
      <a href="tel:+995558200230"><img src="assets/images/phone.svg" alt=""> +995 558 20 02 30</a>
      <a href="mailto: cebi077@mail.ru"><img src="assets/images/mail.svg" alt=""> cebi077@mail.ru</a>
    </div>
  </div>
</div>
