<p-table [value]="ArrModel" #dt1 id="excel-table" dataKey="id" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers" [columns]="cols" [rows]="10" [paginator]="true" selectionMode="single"
  currentPageReportTemplate="{first} - {last} of {totalRecords}" [globalFilterFields]="['name', 'price', 'qty', 'productCode']" [loading]="loading">
  <ng-template pTemplate="header" let-column>
    <tr style="border-top: none;">
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        <div class="ui-table-sort-th">
          <span>{{col.header | translate}}</span>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngStyle]="{'width':col.width}">

        <div class="qty" *ngIf="col.field === 'productCode'">
          <p *ngIf="!rowData.showCodeInput" style="cursor: pointer;" (click)="rowData.showCodeInput = true">{{rowData[col.field]}}</p>
          <div class="input-block" *ngIf="rowData.showCodeInput" style="width: 240px">
            <input type="text" [(ngModel)]="rowData.productCode" style="width: 240px;">
            <i class="pi pi-check" (click)="updateRowCode(rowData)"></i>
          </div>
        </div>

        <div class="qty" *ngIf="col.field === 'innerCode'">
          <p *ngIf="!rowData.showInnerCodeInput" style="cursor: pointer;" (click)="rowData.showInnerCodeInput = true">{{rowData[col.field]}}</p>
          <div class="input-block" *ngIf="rowData.showInnerCodeInput">
            <input type="text" [(ngModel)]="rowData.innerCode">
            <i class="pi pi-check" (click)="updateRowInnerCode(rowData)"></i>
          </div>
        </div>
        <div class="qty" *ngIf="col.field === 'qty'">
          <p *ngIf="!rowData.showInput" style="cursor: pointer;" (click)="rowData.showInput = true">{{rowData[col.field]}}</p>
          <div class="input-block" *ngIf="rowData.showInput">
            <input type="number" [(ngModel)]="rowData.qty">
            <i class="pi pi-check" (click)="updateRowQty(rowData)"></i>
          </div>
        </div>
        <div class="qty" *ngIf="col.field === 'price'">
          <p *ngIf="!rowData.showPriceInput" style="cursor: pointer;" (click)="rowData.showPriceInput = true">{{rowData[col.field]}}</p>
          <div class="input-block" *ngIf="rowData.showPriceInput">
            <input type="number" [(ngModel)]="rowData.price">
            <i class="pi pi-check" (click)="updateRowPrice(rowData)"></i>
          </div>
        </div>
        <p class="col-field" *ngIf="col.field !== 'crudActions' && col.field !== 'image' && col.field !== 'qty' && col.field !== 'price'&& col.field !== 'innerCode'&& col.field !== 'productCode'&& col.field !== 'name'" >{{rowData[col.field]}}</p>
        <p class="col-field" *ngIf="col.field == 'name'" (click)="getNameChange(rowData)">{{rowData[col.field]}}</p>
        <div class="image" *ngIf="col.field === 'image'">
          <img [src]="rowData[col.field]" alt="">
        </div>
        <div class="crudActions" *ngIf="col.field === 'crudActions' || col.field === 'detCrudActions'"  style="display: flex;justify-content: space-around;">
          <img class="remove-item" src="assets/images/edit.svg" style="cursor: pointer;" alt="" (click)="Action.emit({event:$event,type:'edit', data:rowData})">
          <img class="remove-item" src="assets/images/remove.svg" style="cursor: pointer;" alt="" (click)="RemoveAction({event:$event,type:'remove', data:rowData})">
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmPopup></p-confirmPopup>
