<div class="product-upsert-wrapper">
  <div class="page-name">
    <h3>{{'Product' | translate}}</h3>
  </div>
  <div class="product-form-block">
    <div class="row">
      <div class="input-block">
        <label for="">{{'ProductID' | translate}}</label>
        <input type="text" [(ngModel)]="Product.code">
      </div>
      <div class="input-block" *ngFor="let item of Product?.name?.items">
        <label for="">{{'Name' | translate}} ({{item.languageName}})</label>
        <input type="text" [(ngModel)]="item.value">
      </div>
    </div>

    <div class="row">
      <div class="input-block">
        <label for="">{{'Manufacturer' | translate}} </label>
        <p-dropdown [options]="CarManufacturers" [(ngModel)]="selectedCarManufacturer" optionLabel="name"></p-dropdown>
      </div>
      <div class="input-block">
        <label for="">{{'Type' | translate}}</label>
        <p-dropdown [options]="selectedCarManufacturer.types" [(ngModel)]="selectedType" optionLabel="name"
          (ngModelChange)="getModelsByType(selectedType.id)"></p-dropdown>
      </div>
      <div class="input-block">
        <label for="">{{'Model' | translate}}</label>
        <p-dropdown [options]="Models" [(ngModel)]="selectedModel" optionLabel="name"></p-dropdown>
      </div>
      <div class="input-block">
        <label for="">{{'Firm' | translate}}</label>
        <p-dropdown [options]="PartManufacturers" [(ngModel)]="selectedPartManufacturer" optionLabel="name">
        </p-dropdown>
      </div>

    </div>

    <div class="row">
      <div class="input-block years" *ngIf="showDatePicker">
        <label for="">{{'Years' | translate}}</label>

        <div class="p-field p-col-12 p-md-4" >
          <label for="calendar" class="calendar-fake">{{FakeSelectedDates}}</label>
          <p-calendar #myCalendar inputId="calendar" [(ngModel)]="SelectedDates" view="year" selectionMode="multiple"
            dateFormat="yy"  (ngModelChange)="getYears($event)">
          </p-calendar>
        </div>
      </div>
      <div class="input-block">
        <label for="">{{'Engine' | translate}}</label>
        <input type="text" [(ngModel)]="Product.engine">
      </div>
      <div class="input-block">
        <label for="">{{'Price' | translate}}</label>
        <input type="number" [(ngModel)]="Product.price">
      </div>
      <div class="input-block">
        <label for="">{{'Quantity' | translate}} </label>
        <input type="number" [(ngModel)]="Product.qty">
      </div>

    </div>
    <div class="row" style="margin-top:15px;">
      <div class="input-block image" style="margin-bottom:0;">
        <div class="image-input">
          <label for="image">{{'Upload' | translate}}
            <i class="pi pi-image" *ngIf="!imageLoading && !ImageUploadSuccess"></i>
            <i class="pi pi-spin pi-spinner" *ngIf="imageLoading && !ImageUploadSuccess"></i>
            <i class="pi pi-check" *ngIf="!imageLoading && ImageUploadSuccess"></i>
          </label>
        </div>
        <input type="file" name="image" id="image" accept="image/*" (change)="chooseFile($event)" />
        <div class="preview" *ngIf="Product.image">
          <p>{{Product.image.fileName}}</p>
        </div>
      </div>

      <button
        (click)="ProductId === 'create' ? Create() : Update()">{{ProductId === 'create' ? ('Create' | translate) : ('Update' | translate)}}</button>
    </div>
  </div>
</div>
<p-toast></p-toast>
