<div class="order-detail-wrapper">
  <div class="order-info">
    <div class="txt">
      <p>{{'OrderId' | translate}}: {{OrderDetail.orderCode}}</p>
      <p>{{'Date' | translate}}: {{OrderDetail.createdAt}}</p>
    </div>

    <div class="status-excel">
      <div class="excel" (click)=" getExcel()">
        <i class="pi pi-file-excel"></i>
        <p>Export</p>
      </div>
      <div class="status" [ngStyle]="{'border-color':OrderDetail.statusColor}">
        <p [ngStyle]="{'color':OrderDetail.statusColor}">{{OrderDetail.status}}</p>
      </div>
    </div>

  </div>

  <div class="table-block">
    <p-table [value]="OrderDetail.items" [columns]="cols">
      <ng-template pTemplate="header" let-column>
        <tr style="border-top: none;">
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            <div class="ui-table-sort-th">
              <span>{{col.header | translate}}</span>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
            <p class="col-field" *ngIf="col.field !== 'select'"
              [ngStyle]="{'color':col.field==='status' ? rowData.statusColor:'#000'}">
              {{rowData[col.field]}}</p>
            <div class="select" *ngIf="col.field === 'select' ">
              <p-checkbox *ngIf="rowData.status !=='accepted'" [binary]="true" [(ngModel)]="rowData.selected"
                (ngModelChange)="calculateSelectedProducts()"></p-checkbox>
              <p *ngIf="rowData.status ==='accepted'" [ngStyle]="{'color':rowData.statusColor}">{{rowData.status}}</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="info-action">
    <div class="info" *ngIf="OrderDetail.user">
      <p>{{'TotalPrice' | translate}}: {{OrderDetail.totalPrice}} <img src="assets/images/lari.svg" alt=""></p>
      <p>{{'SelectedTotalPrice' | translate}}: {{OrderDetail.selectedTotalPrice}} <img src="assets/images/lari.svg"
          alt=""></p>
      <p>{{'Username' | translate}}: {{OrderDetail.user.firstName +' '+ OrderDetail.user.lastName}}</p>
      <p>{{'PhoneNumber' | translate}}: {{OrderDetail.user.phoneNumber}}</p>
    </div>
    <div class="button" *ngIf="OrderDetail.statusCode !==5">
      <button style="margin-right: 15px;background:#F15050;" (click)="AskForDeal($event, RejectDeal, this)">{{'Reject' | translate}}</button>
      <button
        (click)="OrderDetail.statusCode!==4 ? AskForDeal($event, MakeADeal, this) : AskForDeal($event, CompleteOrder, this)">{{'Accept' | translate}}</button>

    </div>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
