/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  src: url('assets/fonts/SFPRODISPLAYREGULAR.OTF');
  font-family: 'SF Pro Display';
}

body {
  margin: 0;
  font-family: "SF Pro Display" !important;
  background: #F9F9F9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.p-multiselect .p-multiselect-label{
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.form-block {
  button {
    width: 200px;
    height: 44px;
    left: 583px;
    top: 221px;
    background: #2F4550;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    color: #F8F8F8;
    outline: none;
    cursor: pointer;
  }

  input {
    width: 300px;
    height: 44px;
    left: 270px;
    top: 221px;
    background: #FFFFFF;
    border: 1px solid #B7C7CC;
    border-radius: 6px;
    padding: 0 5px;
  }
}

.product-form-block {

  .p-dropdown,
  .p-calendar .p-inputtext {
    width: 265px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #B7C7CC;
    border-radius: 6px;
    padding: 0 5px;
    margin-top: 10px;
  }

  .p-dropdown .p-dropdown-label {
    padding: 9px;
  }
}

.page-name h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.table-block {
  border: 1px solid #B7C7CC;
  border-radius: 6px;

  .p-datatable .p-datatable-thead tr th {
    transition: box-shadow 0.2s;
    background: #2F4550;
    color: #fff;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-left: 1px solid #B7C7CC;
    text-align: center;
  }

  .p-datatable .p-datatable-thead tr th:last-child {
    border-top-right-radius: 6px;
  }

  .p-datatable .p-datatable-thead tr th:first-child {
    border-top-left-radius: 6px;
    border-left: none;
  }

  .p-datatable .p-datatable-tbody tr td {
    border-right: 1px solid #B7C7CC;
    border-bottom: 1px solid #B7C7CC;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F1F1F;
    padding: 0 16px;
  }

  .remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .p-datatable .p-sortable-column .p-sortable-column-icon{
    color: #fff;
  }
}

.products-wrapper .table-block .image {
  width: 95.47px;
  height: 60px;

  img {
    width: 100%;
    height: 90%;
  }
}

.home-wrapper,
.product-detail-wrapper {
  .filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
    max-width: 1223px;
    .p-multiselect {
      width: 296px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid #7B888C;
      border-radius: 6px;
    }

    .p-multiselect .p-multiselect-label.p-placeholder {
      padding: 9px;
    }

    .p-calendar {
      width: 190px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid #7B888C;
      border-radius: 6px;
      // margin-bottom: 15px;
    }
  }
}

.statistics-wrapper {
  .p-calendar input, .p-dropdown {
    width: 206px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #7B888C;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5B5B5B;
    padding-left: 45px;
  }
  .p-dropdown {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .p-dropdown-items-wrapper{
    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
      visibility: 0%;
    }

    &::-webkit-scrollbar-thumb {
      background: #000;
      height: 100px;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  }
  .table-block{
    .p-datatable .p-datatable-tbody > tr{
      background-color:transparent !important;
    }
     .p-datatable .p-datatable-thead tr th{
      cursor: pointer;
    }
  }
}

.product-detail-wrapper{
  .products{
    min-height: auto !important;
  }
}
.correlate .p-dropdown {
  width: 165px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #7B888C;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #5B5B5B;
}
@media screen and (max-width: 1440px){
  .product-detail-wrapper .products .item:nth-child(4){
    display: none !important;
  }

}
.product-upsert-wrapper .p-calendar{
  position: relative;
  display: inline-flex;
  max-width: 100%;
  min-width: 100%;
  input{
    display: none;
  }
  .p-datepicker{
    z-index: 1001;
    transform-origin: center top;
    top: 0 !important;
    left: 0 !important;
  }
}
button.disabled {
  cursor: no-drop !important;
}
