/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  src: url('assets/fonts/SFPRODISPLAYREGULAR.OTF');
  font-family: 'SF Pro Display';
}

body {
  margin: 0;
  font-family: "SF Pro Display" !important;
  background:#F9F9F9;
}

.form-block {
  button {
    width: 200px;
    height: 44px;
    left: 583px;
    top: 221px;
    background: #2F4550;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    color: #F8F8F8;
    outline: none;
    cursor: pointer;
  }

  input {
    width: 300px;
    height: 44px;
    left: 270px;
    top: 221px;
    background: #FFFFFF;
    border: 1px solid #B7C7CC;
    border-radius: 6px;
    padding: 0 5px;
  }
}

.product-form-block {

  .p-dropdown,
  .p-calendar .p-inputtext {
    width: 265px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #B7C7CC;
    border-radius: 6px;
    padding: 0 5px;
    margin-top: 10px;
  }

  .p-dropdown .p-dropdown-label {
    padding: 9px;
  }
}

.page-name h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.table-block {
  border: 1px solid #B7C7CC;
  border-radius: 6px;

  .p-datatable .p-datatable-thead tr th {
    transition: box-shadow 0.2s;
    background: #2F4550;
    color: #fff;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-left: 1px solid #B7C7CC;
    text-align: center;
  }

  .p-datatable .p-datatable-thead tr th:last-child {
    border-top-right-radius: 6px;
  }

  .p-datatable .p-datatable-thead tr th:first-child {
    border-top-left-radius: 6px;
    border-left: none;
  }

  .p-datatable .p-datatable-tbody tr td {
    border-right: 1px solid #B7C7CC;
    border-bottom: 1px solid #B7C7CC;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F1F1F;
    padding: 0 16px;
  }

  .remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.products-wrapper .table-block .image {
  width: 95.47px;
  height: 60px;

  img {
    width: 100%;
    height: 90%;
  }
}

.home-wrapper, .product-detail-wrapper {
  .filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .p-multiselect {
      width: 296px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid #7B888C;
      border-radius: 6px;
      margin-right: 15px;
      margin-bottom: 15px;
    }

    .p-multiselect .p-multiselect-label.p-placeholder {
      padding: 9px;
    }

    .p-calendar {
      width: 190px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid #7B888C;
      border-radius: 6px;
      margin-right: 15px;
      // margin-bottom: 15px;
    }
  }
}
