<div class="products-wrapper">
  <div class="page-name">
    <h3>{{'Products' | translate}} ( {{Products.length}} )</h3>
  </div>
  <div class="create-and-filter">
    <button class="create" (click)="Create()">{{'CreateProduct' | translate}}</button>

    <div class="filter">
      <div class="correlate">
        <p-dropdown *ngIf="translate.currentLang === 'ka-Geo'" [options]="correlationTypes"
          [(ngModel)]="selectedCorrelationType" placeholder="{{'Type' | translate}}" optionLabel="nameKa">
        </p-dropdown>
        <p-dropdown *ngIf="translate.currentLang === 'ru-Ru'" [options]="correlationTypes"
          [(ngModel)]="selectedCorrelationType" placeholder="{{'Type' | translate}}" optionLabel="nameRu">
        </p-dropdown>
        <p-dropdown *ngIf="translate.currentLang === 'en-Us'" [options]="correlationTypes"
          [(ngModel)]="selectedCorrelationType" placeholder="{{'Type' | translate}}" optionLabel="name">
        </p-dropdown>
        <input type="number" [(ngModel)]="correlationPercentage">
        <button class="filter-btn" (click)="Calculate()"><i class="pi pi-percentage"></i></button>
      </div>
      <input type="text" [(ngModel)]="SearchText">
      <button class="filter-btn" (click)="Search()"><i class="pi pi-search"></i></button>
    </div>
  </div>
  <div class="table-block">
    <app-products-table [ArrModel]="Products" [loading]="loading" [cols]="cols" (Action)="Action($event)" [Search]="SearchTextForTable"
      (RowQtyUpdated)="RowQtyUpdated($event)"  (RowPriceUpdated)="RowPriceUpdated($event)"></app-products-table>
  </div>
</div>
