.products-wrapper {
  .create-and-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 75px;
      height: 44px;
      background: #2F4550;
      border-radius: 6px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #F8F8F8;
      border: none;
      outline: none;
      cursor: pointer;
    }

    input {
      width: 220px;
      height: 44px;
      padding: 0 15px;
      background: #FFFFFF;
      border: 1px solid #7B888C;
      border-radius: 6px;
      // margin-right: 15px;
    }

    .create {
      width: 195px;
    }

    .filter {
      display: flex;
      align-items: center;
      gap: 15px;
    }



  }

  .table-block {
    margin-top: 50px;
  }

  .correlate {
    height: 150px;
    background: #fff;
    width: 450px;
    border-radius: 10px;

    .header {
      height: 52px;
      display: flex;
      justify-content: flex-end;
      padding: 15px;
      i{
        cursor: pointer;
      }
    }

    .body {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      input {
        width: 120px;
      }
    }
  }

  .correlation-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: #00000059;

  }
}
