<p-table [value]="ArrModel" #dt1 id="excel-table" dataKey="id" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers" [columns]="cols" [rows]="10" [paginator]="true"
  currentPageReportTemplate="{first} - {last} of {totalRecords}">
  <ng-template pTemplate="header" let-column>
    <tr style="border-top: none;">
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        <div class="ui-table-sort-th">
          <span>{{col.header}}</span>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
        <p class="col-field" *ngIf="col.field !== 'remove' && col.field !== 'password'">{{rowData[col.field]}}</p>
        <div class="remove-btn" *ngIf="col.field === 'remove'" (click)="Action.emit({event:$event,type:'remove', data:rowData})">
          <img class="remove-item" src="assets/images/remove.svg" alt="">
        </div>
        <div class="pass" *ngIf="col.field === 'password'" style="display: flex;justify-content: center;align-items: center;position:relative;">
          <p class="col-field" >{{(showPasswords) ? rowData[col.field] : '******'}}</p>
          <img src="assets/images/eye.svg" style="cursor: pointer;position: absolute;right:0" alt="" (click)="showPasswords = !showPasswords">
        </div>

      </td>

    </tr>
  </ng-template>
</p-table>
